@import "tailwindcss";


@theme{
  

    /* primary color */
  --color-primary-50:oklch(0.9539 0.014 185.95);
    --color-primary-100:oklch(0.8568 0.0447 185.73);
    --color-primary-200:oklch(0.6946 0.0895 183.12);
    --color-primary-300:oklch(0.6946 0.0895 183.12);
    --color-primary-400:oklch(0.6406 0.1 181.26);
    --color-primary-500:oklch(0.6406 0.1 181.26);
    --color-primary-600:oklch(0.5605 0.1035 177.5);
    --color-primary-700:oklch(0.5605 0.1035 177.5);
    --color-primary-800:oklch(0.5605 0.1035 177.5);
    --color-primary-900:oklch(0.3087 0.056 179.98);


    
}